<div class="container_platoon">
	
	<div class="platoon_title_container">
		<span class="fakeVehicleType customTooltip" title="<%-x.vehicletype%>"></span>
		<span class="platoon_natosymbol natosymbol <%
				var symbol = x.natosymbol;
		        var prefix = "symbol_";
		        var resultingString = prefix.concat(symbol);
		        %>
		        <%= resultingString%>">
		</span>
		<span class="platoon_title container_title customTooltip" <% if (x.ingamelobby) {%> title="<%-x.ingamelobby%>"<% } %>><%-x.callsign%></span>
		<span class="platoon_radiofrequency radiofrequency"><%-x.radiofrequency%> <% if (x.radiofrequency) {%>MHz<%}%></span>
	</div>

	<div class="platoon_head">
		<%= x.slot.map(pluginArma3Slotting.templates.slot).join('') %>
	</div>
	<div class="platoon_body">
		<%= x.squad.map(pluginArma3Slotting.templates.squad).join('') %>
	</div>
</div>
