<div class="slot" data-uuid="<%- x.uuid %>">
	<div class="slot_dropdown" data-visible="no">
		<ul class="dropdown-menu">
			<li><a href="#" class=""><i class="fa fa-fw fa-check"></i> Event-Lock</a></li>
			<li><a href="#" class=""><i class="fa fa-fw"></i> Spieler kicken</a></li>
			<li><a href="#" class=""><i class="fa fa-fw"></i> Selbst slotten</a></li>
		</ul>
	</div>

	<% __tmpIsAllowedToEditClass = (
	    !x['reserved-for']
		|| _.intersection(
				window.app.groupNames.map(function (u) {return u.toLowerCase()}),
				x['reserved-for'].split(',').map(function (u) {return u.trim()}).map(function (u) {return u.toLowerCase()})
		).length > 0) ? 'slot_button' : ''; %>

	<% if (x.user) { %>
		<div class="<%- __tmpIsAllowedToEditClass%>"
			data-username="<%- x.user.username %>"
			data-uid="<%- x.user.uid %>"
		>
			<% if (x.user.picture) { %>
				<img class="user-img avatar avatar-md avatar-rounded"
					 draggable="true"
					 src="<%=x.user.picture %>"
					 title="<%= x.user.username%>"
					 data-uid="<%-x.user.uid%>"
					 data-username="<%-x.user.username%>"
				/>
			<% } else { %>
				<div
					class="avatar avatar-sm avatar-rounded"
					title="<%- x.user.username %>"
					draggable="true"
					data-uid="<%-x.user.uid%>"
					data-username="<%-x.user.username%>"
					style="background-color: <%- x.user['icon:bgColor'] %>"><%- x.user['icon:text'] %>
				</div>
			<% } %>
		</div>
	<% } else { %>
		
		<a href="#" class="<%- __tmpIsAllowedToEditClass%>">
			<div class="avatar avatar-sm avatar-rounded" title="<% if (typeof x.reservation !== 'undefined') {%><%- x.reservation %><%}%>">
				<span class="<% if (typeof x.reservation !== 'undefined') {%>reservation<%} %>"></span>
			</div>	
		</a>
	<% } %>

	<div class="slot_descr" title="<%= x.description %>"><%- x.shortcode %></div>

</div>
