<div class="slot" data-uuid="<%- x.uuid %>">
	<div class="slot_dropdown" data-visible="no">
		<ul class="dropdown-menu">
			<li><a href="#" class=""><i class="fa fa-fw fa-check"></i> Event-Lock</a></li>
			<li><a href="#" class=""><i class="fa fa-fw"></i> Spieler kicken</a></li>
			<li><a href="#" class=""><i class="fa fa-fw"></i> Selbst slotten</a></li>
		</ul>
	</div>
	<% console.info(pluginArma3Slotting);__tmpIsAllowedToEditClass = (
		x.minSlottedPlayerCountFulfilled &&
		(!x['reserved-for']
		|| _.intersection(
				pluginArma3Slotting.currentUserGroupNames
				.map(function (u) {return u.toLowerCase()}),
			x['reserved-for']
				.split(',')
				.map(function (u) {return u.trim()})
				.map(function (u) {return u.toLowerCase()})
				.filter(Boolean)
		).length > 0)) ? 'slot_button' : ''; console.debug('end') %>
	<% if (x.user) { %>
		<div class="<%- __tmpIsAllowedToEditClass%>"
			data-username="<%- x.user.username %>"
			data-uid="<%- x.user.uid %>"
		>
			<% if (x.user.picture) { %>
				<img class="user-img avatar avatar-md avatar-rounded"
					 draggable="true"
					 src="<%=x.user.picture %>"
					 title="<%= x.user.username%>"
					 data-uid="<%-x.user.uid%>"
					 data-username="<%-x.user.username%>"
				/>
			<% } else { %>
				<div
					class="avatar avatar-sm avatar-rounded"
					title="<%- x.user.username %>"
					draggable="true"
					data-uid="<%-x.user.uid%>"
					data-username="<%-x.user.username%>"
					style="background-color: <%- x.user['icon:bgColor'] %>"><%- x.user['icon:text'] %>
				</div>
			<% } %>

		</div>
	<% } else { %>
		
		<a href="#" class="<%- __tmpIsAllowedToEditClass%>">
			<div class="avatar avatar-sm avatar-rounded"
				 title="<%- [(x['min-slotted-player-count'] ? x['min-slotted-player-count'] + "+ players" : ""), (x['reserved-for'] || "")].filter(Boolean).join(',') %>"
			>
				<span class="<% if (x.reservation) {%>reservation<%} %>"></span>
			</div>
		</a>
	<% } %>

	<%
	__tmpUserGroupDetails = (
	    x.user && (
		    pluginArma3Slotting.allUserGroups.find(function (g) { return g.title === x.user.groupTitle})
			|| pluginArma3Slotting.allUserGroups.find(function (g) { return x.user.groups.indexOf(g.name) !== -1; })
			)
		) || {title: 'no user group', color: '#000'};
	%>

	<div class="slot_descr plain" title="<%= x.description %>"><%- x.shortcode %></div>
	<div class="slot_descr group-color"
		 title="<%- (x.description + ' (' + __tmpUserGroupDetails.title + ')') %>"
		 style="color: white; background-color: <%- __tmpUserGroupDetails.color %>;"><%- x.shortcode %>
	</div>
</div>
