<div component="match" data-uuid="<%- x.uuid %>">

	<small class="left" style="float: left;
		margin-left: 10px;
		margin-bottom: 10px;
		text-transform: uppercase;
		color: #777;
		font-weight: 300;
		font-size: 14px;"
	>
		Slotliste (geslottet: <%- x.slottedPlayerCount %>)
	</small>
	<br><br>
	<% if (x.hasPermissions) { %>
	<small class="pull-right">
		<div class="dropdown moderator-tools" component="match/controls" data-invisible="false">
			<a href="#" data-toggle="dropdown"><i class="fa fa-fw fa-ellipsis-v"></i></a>
			<ul class="dropdown-menu dropdown-menu-right" role="menu">

				<li role="presentation" class="dropdown-header">Slotliste</li>
				<li role="presentation">
					<a role="menuitem" tabindex="-1" href="/arma3-slotting/<%- x.tid %>/match/<%- x.uuid %>/edit"
					   class="match-control-edit">
						<span class="menu-icon"><i class="fa fa-pencil"></i></span> Edit
					</a>
				</li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/arma3-slotting/<%- x.tid %>/match/<%- x.uuid %>/share"
                       class="match-control-edit">
                        <span class="menu-icon"><i class="fa fa-share"></i></span> Share
                    </a>
                </li>
				<li role="presentation">
					<a role="menuitem" tabindex="-1" href="#" class="match-control-delete">
						<div class="inline menu-icon"><i class="fa fa-trash-o"></i></div>
						<span>Delete</span>
					</a>
				</li>
			</ul>
		</div>
	</small>
	<% } %>
	<div>
		<%= x.side %>
		<%= x.slot.map(pluginArma3Slotting.templates.slot).join('') %>
		<%= x.squad.map(pluginArma3Slotting.templates.squad).join('') %>
		<%= x.platoon.map(pluginArma3Slotting.templates.platoon).join('') %>
		<%= x.company.map(pluginArma3Slotting.templates.company).join('') %>
	</div>
	<div class="clearfix"></div>
<!--
    <iframe id="slotlist-<%- x.uuid %>" style="border: none; min-width: 100%; width: 1px;" scrolling="no" src="https://dev.gruppe-adler.de/slotting?tid=<%- x.tid %>&matchid=<%- x.uuid %>&raw=1" onload="iFrameResize({log:true})"></iframe>
-->
    <div class="clearfix"></div>
</div>
