<div component="match" data-uuid="<%- x.uuid %>">
	<small class="left" style="float: left;
margin-left: 10px;
margin-bottom: 10px;
text-transform: uppercase;
color: #777;
font-weight: 300;
font-size: 14px;">Slotliste
	</small>
	<br><br>
	<% if (x.hasPermissions) { %>
	<small class="pull-right">


		<div class="dropdown moderator-tools" component="match/controls" data-invisible="false">
			<a href="#" data-toggle="dropdown"><i class="fa fa-fw fa-ellipsis-v"></i></a>
			<ul class="dropdown-menu dropdown-menu-right" role="menu">

				<li role="presentation" class="dropdown-header">Slotliste</li>
				<li role="presentation">
					<a role="menuitem" tabindex="-1" href="/arma3-slotting/<%- x.tid %>/match/<%- x.uuid %>/edit"
					   class="match-control-edit">
						<span class="menu-icon"><i class="fa fa-pencil"></i></span> Edit
					</a>
				</li>
				<li role="presentation">
					<a role="menuitem" tabindex="-1" href="#" class="match-control-delete">
						<div class="inline menu-icon"><i class="fa fa-trash-o"></i></div>
						<span>Delete</span>
					</a>
				</li>
			</ul>
		</div>
	</small>
	<% } %>
	<div>
		<%= x.side %>
		<%= x.slot.map(pluginArma3SlottingTemplates.slot).join('') %>
		<%= x.fireteam.map(pluginArma3SlottingTemplates.fireteam).join('') %>
		<%= x.squad.map(pluginArma3SlottingTemplates.squad).join('') %>
		<%= x.platoon.map(pluginArma3SlottingTemplates.platoon).join('') %>
		<%= x.company.map(pluginArma3SlottingTemplates.company).join('') %>
	</div>
	<div class="clearfix"></div>
</div>
