<div class="container_company <%-x.side%>">
	
	<div class="company_title_container">
		<span class="fakeVehicleType customTooltip" title="<%-x.vehicletype%>"></span>
		<span class="platoon_natosymbol natosymbol customTooltip <%
				var symbol = x.natosymbol;
		        var prefix = "symbol_";
		        var resultingString = prefix.concat(symbol);
		        %>
		        <%= resultingString%>">
		</span>
		<span class="company_title container_title customTooltip" <% if (x.ingamelobby) {%> title="<%-x.ingamelobby%>"<% } %>><%-x.callsign%></span>
		<span class="company_radiofrequency radiofrequency"><%-x.radiofrequency%> <% if (x.radiofrequency) {%>MHz<%}%></span>
	</div>
	<div class="company_head">
		<%= ([].concat(x.slot || [])).map(pluginArma3SlottingTemplates.slot).join('') %>
	</div>
	<div class="company_body">
		<%= ([].concat(x.squad || [])).map(pluginArma3SlottingTemplates.squad).join('') %>
		<%= ([].concat(x.platoon || [])).map(pluginArma3SlottingTemplates.platoon).join('') %>
	</div>
</div>