<div class="container_company">
	
	<span class="company_title" title="<%-x.ingamelobby%>"><%-x.callsign%></span>
	<span class="company_radiofrequency"><%-x.radiofrequency%></span>
	<div class="company_head">
		<%= ([].concat(x.slot || [])).map(pluginArma3SlottingTemplates.slot).join('') %>
	</div>
	<div class="company_body">
		<%= ([].concat(x.squad || [])).map(pluginArma3SlottingTemplates.squad).join('') %>
		<%= ([].concat(x.platoon || [])).map(pluginArma3SlottingTemplates.platoon).join('') %>
	</div>
</div>
