<div class="container_platoon">
	
	<span class="platoon_title" title="<%-x.ingamelobby%>"><%-x.callsign%></span>
	<span class="platoon_radiofrequency"><%-x.radiofrequency%></span>

	<div class="platoon_head">
		<%= ([].concat(x.slot || [])).map(pluginArma3SlottingTemplates.slot).join('') %>
	</div>
	<div class="platoon_body">
		<%= ([].concat(x.squad || [])).map(pluginArma3SlottingTemplates.squad).join('') %>
	</div>
</div>
