<div class="container_squad">
	<span class="squad_title" title="<%-x.ingamelobby%>"><%-x.callsign%></span>
	<span class="squad_radiofrequency"><%-x.radiofrequency%></span>
	<div class="squad_head">
		<%= ([].concat(x.slot || [])).map(pluginArma3SlottingTemplates.slot).join('') %>
	</div>
	<div class="squad_body">
		<%= ([].concat(x.fireteam || [])).map(pluginArma3SlottingTemplates.fireteam).join('') %>
	</div>
</div>
