<div class="container_squad">

	<div class="squad_title_container">
		<span class="fakeVehicleType customTooltip" title="<%-x.vehicletype%>"></span>
		<span class="squad_natosymbol natosymbol customTooltip"><%

			var natoSymbol = "";
		        switch (x.natosymbol) {
		            case "inf": natoSymbol = "+";
		            break;
		            case "motor_inf": natoSymbol = "®";
		            break;
		            case "mech_inf": natoSymbol = "®";
		            break;
		            case "armor": natoSymbol = "A";
		            break;
		            case "recon": natoSymbol = "Û";
		            break;
		            case "air": natoSymbol = "p";
		            break;
		            case "plane": natoSymbol = "w";
		            break;
		            case "uav": natoSymbol = "g";
		            break;
		            case "med": natoSymbol = "Â";
		            break;
		            case "art": natoSymbol = "#";
		            break;
		            case "mortar": natoSymbol = "Ó";
		            break;
		            case "hq": natoSymbol = "¬0";
		            break;
		            case "support": natoSymbol = "B";
		            break;
		            case "maint": natoSymbol = "<";
		            break;
		            case "service": natoSymbol = "";
		            break;
		            default: natoSymbol = "";
		        }
		        %>
		        <%= natoSymbol%>
		</span>
		<span class="squad_title container_title customTooltip" title="Lobby: <%-x.ingamelobby%>"><%-x.callsign%></span>
		<span class="squad_radiofrequency radiofrequency"><%-x.radiofrequency%> <% if (x.radiofrequency) {%>MHz<%}%></span>
	</div>

	<div class="squad_head">
		<%= ([].concat(x.slot || [])).map(pluginArma3SlottingTemplates.slot).join('') %>
	</div>
	<div class="squad_body">
		<%= ([].concat(x.fireteam || [])).map(pluginArma3SlottingTemplates.fireteam).join('') %>
	</div>
</div>
