<div class="container_squad">

	<div class="squad_title_container <% if (!(x.fireteam)) { %> squad_empty<% } %>">
		<span class="fakeVehicleType customTooltip" title="<%- x.vehicletype %>"></span>
		<span class="squad_natosymbol natosymbol customTooltip <%
		var symbol = x.natosymbol;
		var prefix = "symbol_";
		var resultingString = prefix.concat(symbol);
		%>
		        <%= resultingString %>">
		</span>
		<span class="squad_title container_title customTooltip"
			  <% if (x.ingamelobby) {%> title="<%-x.ingamelobby%>"<% } %>><%- x.callsign %></span>
		<span class="squad_radiofrequency radiofrequency"><%- x.radiofrequency %>
			<% if (x.radiofrequency) { %>
			MHz
			<% } %>
		</span>
	</div>

	<div class="squad_head">
		<%= x.slot.map(pluginArma3SlottingTemplates.slot).join('') %>
	</div>
	<div class="squad_body <% if (x.fireteam && (x.fireteam.length % 2)) { %>odd<% } %>">
		<%= x.fireteam.map(pluginArma3SlottingTemplates.fireteam).join('') %>
	</div>
</div>
