<div class="container_squad">

	<div class="squad_title_container">
		<span class="fakeVehicleType customTooltip" title="<%-x.vehicletype%>"></span>
		<span class="squad_natosymbol natosymbol customTooltip <%
				var symbol = x.natosymbol;
		        var prefix = "symbol_";
		        var resultingString = prefix.concat(symbol);
		        %>
		        <%= resultingString%>">
		</span>
		<span class="squad_title container_title customTooltip" title="Lobby: <%-x.ingamelobby%>"><%-x.callsign%></span>
		<span class="squad_radiofrequency radiofrequency"><%-x.radiofrequency%> <% if (x.radiofrequency) {%>MHz<%}%></span>
	</div>

	<div class="squad_head">
		<%= ([].concat(x.slot || [])).map(pluginArma3SlottingTemplates.slot).join('') %>
	</div>
	<div class="squad_body <% if (x.fireteam && (x.fireteam.length % 2)) { %>odd<% } %>">
		<%= ([].concat(x.fireteam || [])).map(pluginArma3SlottingTemplates.fireteam).join('') %>
	</div>
</div>
