<div component="match" data-uuid="<%-x.uuid %>" style="border: 1px solid #777">
	<%=x.side%>
	<%= ([].concat(x.slot || [])).map(pluginArma3SlottingTemplates.slot).join('') %>
	<%= ([].concat(x.fireteam || [])).map(pluginArma3SlottingTemplates.fireteam).join('') %>
	<%= ([].concat(x.squad || [])).map(pluginArma3SlottingTemplates.squad).join('') %>
	<%= ([].concat(x.platoon || [])).map(pluginArma3SlottingTemplates.platoon).join('') %>
	<%= ([].concat(x.company || [])).map(pluginArma3SlottingTemplates.company).join('') %>
	<div class="clearfix" />
</div>
